{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Account | Bows & Meows</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
</head>

<body>

<div class="account-page">

    <h1>Hello, {{ request.user.username }}</h1>

    <p>
        Welcome to your Bows & Meows account.
    </p>

    <div class="account-cards">

    <a href="{% url 'my_orders' %}" class="account-card-link">

        <div class="account-card">
            <h3>📦 My Orders</h3>
            <p>View previous orders.</p>
        </div>

    </a>
    <a href="{% url 'my_addresses' %}"
   class="account-card-link">

    <div class="account-card">

        <h3>📍 My Addresses</h3>

        <p>
            Manage your delivery addresses.
        </p>

    </div>

</a>

    <a href="{% url 'my_pets' %}" class="account-card-link">

        <div class="account-card">
            <h3>🐾 My Pets</h3>
            <p>Add and manage your pets.</p>
        </div>

    </a>

        <a href="{% url 'wishlist' %}" class="account-card-link">

            <div class="account-card">

                <h3>❤️ Saved Products</h3>

                <p>
                    Your favourite products.
                </p>

            </div>

        </a>

    </div>

    <a href="{% url 'logout' %}" class="logout-btn">
        Logout
    </a>

</div>

</body>

</html>