{% extends "store/base.html" %}

{% block title %}
My Addresses | Bows & Meows
{% endblock %}

{% block content %}

<section class="account-page">

    <div class="section-heading">
        <span>YOUR ACCOUNT</span>
        <h1>Delivery Addresses</h1>

        <a href="{% url 'add_address' %}"
           class="product-detail-cart">
            + Add Address
        </a>
    </div>

    <div class="address-grid">

        {% for address in addresses %}

            <div class="address-card">

                {% if address.is_default %}
                    <span class="default-address">
                        Default
                    </span>
                {% endif %}

                <h3>{{ address.full_name }}</h3>

                <p>{{ address.phone }}</p>

                <p>
                    {{ address.address_line1 }}
                </p>

                {% if address.address_line2 %}
                    <p>{{ address.address_line2 }}</p>
                {% endif %}

                <p>
                    {{ address.city }},
                    {{ address.state }}
                    {{ address.pincode }}
                </p>

            </div>
            <div class="address-actions">

                <a href="{% url 'edit_address' address.id %}">
                    Edit
                </a>

                <a
                    href="{% url 'delete_address' address.id %}"
                    class="delete-address"
                >
                    Delete
                </a>

            </div>
        {% empty %}

            <p>
                You haven't added a delivery address yet.
            </p>

        {% endfor %}

    </div>

</section>

{% endblock %}