{% extends "store/base.html" %}

{% block title %}
My Pets | Bows & Meows
{% endblock %}

{% block content %}

<section class="account-page">

    <div class="section-heading">
        <span>Your Family</span>
        <h2>My Pets</h2>
        <p>Manage your pets and their care details.</p>
    </div>

    <a href="{% url 'add_pet' %}" class="register-btn">
        + Add New Pet
    </a>

    <div class="pet-grid">

        {% for pet in pets %}

            <div class="pet-card">

                <div class="pet-avatar">
                    {% if pet.pet_type == "dog" %}
                        🐶
                    {% else %}
                        🐱
                    {% endif %}
                </div>

                <h3>{{ pet.name }}</h3>

                <p>{{ pet.get_pet_type_display }}</p>

                {% if pet.breed %}
                    <p>Breed: {{ pet.breed }}</p>
                {% endif %}

                {% if pet.age %}
                    <p>Age: {{ pet.age }} years</p>
                {% endif %}

                {% if pet.weight %}
                    <p>Weight: {{ pet.weight }} kg</p>
                {% endif %}

            </div>

        {% empty %}

            <p>You haven't added any pets yet.</p>

        {% endfor %}

    </div>

</section>

{% endblock %}