{% extends "store/base.html" %}

{% block title %}
Reset Password | Boww & Meow
{% endblock %}

{% block content %}

<section class="account-page">

    <div class="auth-card">

        <h1>Reset Password</h1>

        <p>
            Enter the email associated with your account.
        </p>

        <form method="POST">

            {% csrf_token %}

            {{ form.email.label_tag }}
            {{ form.email }}

            <button
                type="submit"
                class="product-detail-cart"
            >
                Send Reset Link
            </button>

        </form>

    </div>

</section>

{% include "store/includes/flow_theme.html" %}{% endblock %}
