{% extends "store/base.html" %}

{% block content %}

<section class="account-page">

    <div class="auth-card">

        <h1>Choose New Password</h1>

        {% if validlink %}

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    type="submit"
                    class="product-detail-cart"
                >
                    Change Password
                </button>

            </form>

        {% else %}

            <p>
                This password reset link is invalid or has expired.
            </p>

        {% endif %}

    </div>

</section>

{% endblock %}