{% extends "store/base.html" %}

{% block title %}
Payment | Boww & Meow
{% endblock %}

{% block content %}

<section class="account-page">

    <div class="success-card">

        <h1>Complete Your Payment</h1>

        <p>
            Order #{{ order.id }}
        </p>

        <h2>
            ₹{{ order.total_amount|floatformat:2 }}
        </h2>

        <button
            id="pay-button"
            class="product-detail-cart"
        >
            Pay Now
        </button>

    </div>

</section>

<form method="POST" action="{% url 'payment_cancelled' order.id %}" id="payment-cancelled-form">
    {% csrf_token %}
</form>
<form method="POST" action="{% url 'payment_failed_view' order.id %}" id="payment-failed-form">
    {% csrf_token %}
</form>
<form method="POST" action="{% url 'verify_payment' %}" id="payment-verification-form">
    {% csrf_token %}
    <input type="hidden" name="razorpay_payment_id" id="verified-payment-id">
    <input type="hidden" name="razorpay_order_id" id="verified-order-id">
    <input type="hidden" name="razorpay_signature" id="verified-signature">
</form>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    var options = {

        "key": "{{ razorpay_key_id }}",
        "amount": "{{ amount }}",
        "currency": "INR",
        "name": "Boww & Meow",
        "description": "Pet Store Order #{{ order.id }}",
        "order_id": "{{ razorpay_order_id }}",

        "handler": function (response) {
            document.getElementById("verified-payment-id").value = response.razorpay_payment_id;
            document.getElementById("verified-order-id").value = response.razorpay_order_id;
            document.getElementById("verified-signature").value = response.razorpay_signature;
            document.getElementById("payment-verification-form").submit();
        },

        "modal": {
            "ondismiss": function () {

                document.getElementById("payment-cancelled-form").submit();
            }
        }
    };


    var razorpay = new Razorpay(options);


    razorpay.on(
        "payment.failed",
        function (response) {

            document.getElementById("payment-failed-form").submit();
        }
    );


    document
        .getElementById("pay-button")
        .onclick = function(e) {

            razorpay.open();
            e.preventDefault();
        };
</script>

{% include "store/includes/flow_theme.html" %}{% endblock %}
